html, body {
  min-height: 100%;
  position: flex;
  text-align: center;
  align-items: center;
  margin-top: 9vh;
}

#canvas {
  background-color: whitesmoke;
  min-width: 1000px;
  min-height: 600px;
  margin: 50px;
}

#legend {
  position: absolute;
  left: 52%;
  top: 32%;
  width: 310px;
  height: 35px;
}

#tooltip {
  position: absolute;
  visibility: hidden;
  background-color: slategray;
  color: black;
  opacity: 0.9;
  font-size: 14px;
  text-align: left;
  width: fit-content;
  padding: 8px;
}